.alerts {
    > div {
        border: 1px solid var(--fg-color);
        padding: 0.5em 1em;
        margin-bottom: 1em;
    }

    .title-row {
        display: flex;
        justify-content: space-between;
        font-size: 1.2em;
        margin-bottom: 1em;
    }

    .remove-alert {
        cursor: pointer;
        color: var(--err-color);
    }

    .up {
        color: var(--positive-color);
    }

    .down {
        color: var(--negative-color);
    }
}
