.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);

    > div {
        max-width: 400px;
        margin: 10vh auto;
        background-color: var(--bg-color);
        padding: 0.5em 1em;
    }

    .title {
        font-size: 1.2em;
        margin-bottom: 1em;
    }

    label {
        margin-bottom: 0.5em;
        display: flex;

        > :first-child {
            margin-right: 1em;
        }
    }

    .limit-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .error {
        color: var(--err-color);
    }

    .edit-alert-actions {
        margin-top: 2em;
        display: flex;
        justify-content: flex-end;
    }
}
