:root {
    --bg-color: #3F3F3F;
    --fg-color: #DCDCCC;
    --err-color: #DCA3A3;
    --accent-color: #9ECE9E;
    --negative-color: #DCA3A3;
    --positive-color: #9ECE9E;
}

body {
    margin: 1em;
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: "Open Sans", Arial;
    font-size: 14px;
}

button {
    background-color: var(--bg-color);
    color: var(--accent-color);
    font-family: "Open Sans", Arial;
    font-size: 14px;
    border: 1px solid var(--accent-color);
    padding: 4px 10px;
    cursor: pointer;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: var(--bg-color);
    background: url("../img/chevron_down.svg") no-repeat 100% 50%;
    padding: 5px 32px 5px 5px;
    border: 1px solid var(--fg-color);
    color: var(--fg-color);
    font-family: "Open Sans", Arial;
    font-size: 14px;
}

select:focus {
    outline: none;
    box-shadow: 0px 0px 3px 1px var(--fg-color);
}

select > option {
    color: initial;
}

.home {
    max-width: 960px;
    margin: 0 auto;
}

.home-title {
    font-size: 2em;
    margin-bottom: 0.5em;
}
