.nav {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;

    > * {
        padding: 5px 10px;
        cursor: pointer;
        color: var(--accent-color);
        border: 1px solid var(--accent-color);

        &.selected {
            color: var(--bg-color);
            background-color: var(--accent-color);
        }
    }
}