.add-symbol {
    margin-top: 1em;
    display: flex;
    flex-direction: column;

    select {
        margin-top: 0.5em
    }

    button {
        margin-top: 1em;
        align-self: flex-end;
    }
}
