.stocks-table {
    width: 100%;
    border-collapse: collapse;

    th {
        font-weight: bold;
        text-align: left;
    }

    td, th {
        padding: 2px 5px;
    }

    td {
        border: 1px solid var(--fg-color);

        &:last-child {
            text-align: right;
            width: 150px;
        }
    }

    a {
        color: var(--accent-color);
        text-decoration: underline;
        cursor: pointer;

        &.destroy {
            color: var(--err-color);
        }

        &:not(:last-child) {
            margin-right: 1em;
        }
    }
}
